.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding: 3px 10px;
}

.actions {
    margin: 0.5em
}

.button {
    margin: 0 0.5em
}
